h1 {
  font-size:     72px;
  line-height:   1.5;
  color: #2c3e50;
  font-weight:   100;
}

#container {
  width:  980px;
  margin: 0 auto;
}

section {
  height: 300px;
  margin: 60px 0;
}

.section--purple {
  background-color: #9b59b6;
}

.section--blue {
  background-color: #3498db;
}

.section--green {
  background-color: #2ecc71;
}
